/*-- scss:defaults --*/

// Import fonts
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,300i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Fira+Code:300,300i,700,700i");

// Fonts
$font-family-sans-serif: 'Fira Sans Condensed', sans-serif !default;

//Code
$code-color: #af3a03 !default;
$font-family-monospace: 'Fira Code', monospace !default; //code font

// General  
$body-bg: #f9f5d7; // slide backround color
$body-color: #3c3836; // text color
$link-color: #d65d0e; // hypertext color
$presentation-font-size-root: 35px; // base text size

// headings
$presentation-heading-font: 'Fira Sans', sans-serif  !default; // Headings font
$presentation-heading-color: #3c3836 !default; // heading color
$presentation-heading-color-light: lighten($presentation-heading-color,  25%);
$h1-font-size: 1.6em !default; // default H1 font size
$h2-font-size: 1.3em !default; // default H2 font size
$h3-font-size: 1.15em !default; // default H3 font size

/*-- scss:rules --*/

.reveal pre code {
  background-color: $body-bg; // Codeblock backround color
  font-size: 1em;
  padding: 0.5em;
  line-height: 1.2em;
}

#title-slide {
  text-align: left;
  color: $presentation-heading-color;
  
  .title {
    font-weight: 700;
  }
  
  .quarto-title-authors {
    display: flex;
    justify-content: left;

    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }
  
 .date {
   font-size: 24.5px;
   margin-bottom: 8px;
   margin-top: 0px;
 }
  
}

p.author::before, div.quarto-title-author::before {
    content: "";
    display: block;
    border: none;
    background-color: $body-color;
    color: $body-color;
    height: 3px;
    margin-bottom: 1em;
  } //Separation line between author and title/subtitle